# ============================================================
# SIMAN - Environment Variables
# PT Lentera Anugerah Dimensi
# ============================================================
# Jangan commit file ini ke git! (.env sudah di .gitignore)

# --- Django Settings ---
#DJANGO_SECRET_KEY=django-insecure-6#0jj3s3=1kzpwx2#z=z#*x3f9j$socq4(nz#*3#h4h=x*(mc5
#DJANGO_DEBUG=True

# --- Database (Supabase PostgreSQL) ---
#DB_ENGINE=django.db.backends.postgresql
#DB_NAME=siman_tri
#DB_USER=postgres
#DB_PASSWORD=password123
#DB_HOST=local_host
#DB_PORT=5432